body { background-color: #203371; }
.item {
	width: 100px;
	height:100px;
	border-radius:10px;
	float: left;
	border: 1px solid black;
	text-align: center;
	margin: 5px;
	font-size:1em;
	font-family:inherit;
}
#itemGreen { background-color: green; }	
#itemBlue { background-color: blue; }
#itemRed { background-color: red; }
#itemPurple { background-color: purple; }
#colorPoll {
	width: 450px;
	height:120px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
#selection {
	display:block;
	width:500px;
	height:110px;
	background-color:#239b81;
	border:1px solid black;
	margin-left:auto;
	margin-right:auto;
	border-radius:5px;
	padding:5px;
	padding-top:2px;
}
#selection p {
	font-size:1.3em;
	float:left;
}
#selectedColorPreview {
	background-color:white;
	width:200px;
	margin-left:20px;
}
#selection input {
	vertical-align: -50px;
}
@media screen and (max-width: 600px) {
/* voor telefoons, dan ziet alles er goed uit op een klein scherm
	moet nog worden geregeld */
	#colorPoll {
		width:100%;
		margin-left:0;
		margin-right:0;
	}
	.item {
		width:calc(25% - 10px);
		font-size:1.1em;
	}
	#selection {
		width:calc(100% - 10px);
		margin:0;
	}
	#selectedColorPreview {
		width:50%;
	}
}
