body { background-color: #203371; }
.item {
		display:inline-block;
		width: 90px;
		height:90px;
		border-radius:50%;
		float: left;
		margin: 5px;
		outline: none;
		border: none;
	}
	#iGreen { background-color: green; }	
	#iBlue { background-color: blue; }
	#iRed { background-color: red; }
	#iPurple { background-color: purple; }
	#iOrange { background-color: orange; }
	#iYellow { background-color: yellow; }
	#iPink { background-color: pink; }
	#iWhite { background-color: white; }
#colorPoll {
	display:block;
	height:100px;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	overflow:hidden;
}
#selection {
	display:block;
	width:300px;
	height:100px;
	background-color:#239b81;
	margin-left:auto;
	margin-right:auto;
	border-radius:5px;
	padding:5px;
	padding-top:2px;
}
#selection p {
	font-size:1.3em;
	float:left;
	padding-top: 20px;
}
#selectedColorPreview {
	background-color: #239b81;
	width:90px;
	margin-left:20px;
}
#selection input {
	margin-top:48px;
	float:right;
}
#title {
	text-align:center;
}
@media screen and (max-width: 810px) {
	#colorPoll {
		width:100%;
		margin-left:0;
		margin-right:0;
		height:auto;
	}
	#selection {
		width:calc(100% - 10px);
		margin:0;
	}
	#selection input {
		margin-top:10px;
		height:80px;
		width:100px;
		border:none;
	}
}
